.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
  cursor: pointer;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-next::before {
  content: "\203A";
  font-size: 100px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-prev::before {
  content: "\2039";
  font-size: 100px;
}
